@page
@using WebCourseProject_Vasilyev.LogicServices;
@model IndexModel
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/Items.css" />
<style>
    .product-seller a {
        color: green;
        text-decoration: none;
        font-weight: bolder;
    }

</style>
<div class="text-center">
    @foreach (var item in await @Model.GetItemsAsync())
    {
        <div class="product">
            <a asp-page="/ItemPage" asp-route-id="@item.Id">
                <div class="product-image">
                    @if(String.IsNullOrEmpty(item.PhotoPath)){
                        <img src="~/ItemImages/no_photo.webp">
                    }
                    else
                    {
                        <img src="@item.PhotoPath">
                    }
                </div>
            </a>
            <div class="product-name">@item.Name</div>
            @if (item.InStock)
            {
                <div style="color: green">
                    В наличии
                </div>
                <div class="product-price">@item.Price ₽</div>
                <div class="product-seller">Продавец: <a asp-page="/SellerPage" asp-route-id="@item.Seller.Id">@item.Seller.Name</a></div>
                <form method="post" asp-page-handler="AddToCart" asp-asp-page-handler="AddToCart">
                    <input type="hidden" name="itemId" value="@item.Id">
                    <button type="submit" class="btn btn-success">В корзину</button>
                </form>
                
            }
            else
            {
                    <div style="color: darkred">
                        Нет в наличии
                    </div>
                    <div class="product-price">@item.Price ₽</div>
                    <div class="product-seller">Продавец: <a asp-page="/SellerPage" asp-route-id="@item.Seller.Id">@item.Seller.Name</a></div>
                    <button class="btn btn-danger">Уведомить о поступлении</button>
            }
            
        </div>

    }
</div>
