@page
@model WebCourseProject_Vasilyev.Pages.SellerPageModel
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
<link rel="stylesheet" href="~/css/Items.css" / />

<h1>Все товары @Model.seller.Name</h1>
<h3>Рейтинг продавца @Model.seller.Rating</h3>
@if(!String.IsNullOrEmpty(Model.seller.Description)){
    <h5>Описание продавца: @Model.seller.Description</h5>
}
<div class="text-center">
    @foreach (var item in await Model.GetItemsAsync())
    {
        <div class="product">
            <a asp-page="/ItemPage" asp-route-id="@item.Id">
                <div class="product-image">
                    @if(String.IsNullOrEmpty(item.PhotoPath)){
                        <img src="~/ItemImages/no_photo.webp">

                    }
                    else
                    {
                        <img src="@item.PhotoPath">
                    }
                </div>
            </a>
            <div class="product-name">@item.Name</div>
            @if(item.InStock){
                <div class="product-instock" style="color: green">
                    В наличии
                </div>
            }
            else
            {
                <div class="product-instock" style="color: darkred">
                    Нет в наличии
                </div>
            }
            <div class="product-price">@item.Price ₽</div>
            <button class="btn btn-success">В корзину</button>
        </div>

    }
</div>