@page
@model WebCourseProject_Vasilyev.Pages.SellersCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seller.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seller.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seller.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seller.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seller.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seller.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seller.Contacts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seller.Contacts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seller.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seller.UserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Seller?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
